body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  transition: 0.3s;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 10px gray;
}

input {
  padding: 8px;
  width: 70%;
}

button {
  padding: 8px;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 10px;
  margin: 5px;
  background: #e3e3e3;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px;
}

.dark {
  background: #222;
  color: white;
}

.dark .container {
  background: #333;
}

.toggle-btn {
  margin-top: 10px;
}